## Frequency encoding

*description : Frequency Encoding replaces each category in a feature with the number of times it appears in the dataset.*

In [1]:
import numpy as np 
import pandas as pd

dataset - benz.csv

In [14]:
benz=pd.read_csv("dataset/benz.csv" , usecols={'X1','X2'})
benz

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [ ]:
#count the col categories
for col in benz.columns[0:]:
    print(f"{col} : {len(benz[col].value_counts())}")

X1 : 24
X2 : 44

In [ ]:
#X1 frequency in dict from
count_values=benz['X1'].value_counts().to_dict()
count_values

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [ ]:
#map the dict to X1
benz["X1"]=benz["X1"].map(count_values)
benz.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n


# When to Use

- When dataset has high cardinality (many categories)

- When you want to avoid too many columns

- Useful in tree-based models like Random Forest, XGBoost

**disadvantages**
- Different categories may get same frequency

- Does not capture category meaning

- May introduce unintended importance( higher frequency gets more important )