## label encoding - to map data with catagorical data

In [4]:
import pandas as pd

creating a sample custumer data

In [5]:
custumer_data=pd.DataFrame({"custumer_id" : [1,2,3,4,5] , "satisfaction":["low","high","medium","high","low"]})
custumer_data

   custumer_id satisfaction
0            1          low
1            2         high
2            3       medium
3            4         high
4            5          low

*mapping low < medium < high*

In [6]:
data_map={"low":0,"medium":1,"high":2}

In [7]:
custumer_data["satisfaction"]=custumer_data["satisfaction"].map(data_map)
custumer_data

   custumer_id  satisfaction
0            1             0
1            2             2
2            3             1
3            4             2
4            5             0

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
custumer_data['Encoded_sklearn'] = le.fit_transform(custumer_data['satisfaction'])

print(custumer_data)

   custumer_id  satisfaction  Encoded_sklearn
0            1             0                0
1            2             2                2
2            3             1                1
3            4             2                2
4            5             0                0